[submodule "setup/PatchReviewer"]
	path = setup/PatchReviewer
	url = https://github.com/Chicken-Bones/PatchReviewer.git
[submodule "FNA"]
	path = FNA
	url = https://github.com/tModLoader/FNA.git
[submodule "nitrate-mod"]
	path = nitrate-mod
	url = https://github.com/terraria-catalyst/nitrate-mod.git
